.header-container {
    display: flex;
    box-sizing: border-box;
    min-height: 64px;
}

.header-primary-bar {
    min-width: 238px;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: flex;
}

.hamburguer-placeholder:hover {
    background-color: rgba(60, 64, 67, .08);
}

.hamburguer-placeholder {
    display: inline-block;
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 50%;
}

.logo-placeholder {
    
}