/* You can add global styles to this file, and also import other style files */
:root {
    --yt-spec-base-background: #0f0f0f;
    --primary-color: #f6f8fc;
}

.debug {
    border: 1px solid black;
}

.centeralized-items {
    display: flex;
    justify-content: center;
    align-items: center;
}